USE [master]
GO
/****** Object:  Database [QLTour]    Script Date: 4/26/2022 9:29:06 PM ******/
CREATE DATABASE [QLTour]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'QLTour', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.TRAMMA\MSSQL\DATA\QLTour.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'QLTour_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.TRAMMA\MSSQL\DATA\QLTour_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [QLTour].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [QLTour]
GO
/****** Object:  Table [dbo].[HoaDon]    Script Date: 4/26/2022 9:29:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HoaDon](
	[maHoaDon] [nvarchar](20) NOT NULL,
	[maTour] [nvarchar](30) NOT NULL,
	[maKhachHang] [nvarchar](30) NOT NULL,
	[maNhanVien] [nvarchar](30) NOT NULL,
	[ngayDat] [date] NULL,
	[soLuongNguoiLon] [int] NULL,
	[soLuongTreEm] [int] NULL,
	[phuongThucThanhToan] [nvarchar](30) NULL,
	[trangThai] [bit] NULL,
	[tongTien] [float] NULL,
 CONSTRAINT [PK_HoaDon] PRIMARY KEY CLUSTERED 
(
	[maHoaDon] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KhachHang]    Script Date: 4/26/2022 9:29:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KhachHang](
	[maKhachHang] [nvarchar](30) NOT NULL,
	[tenKhachHang] [nvarchar](100) NULL,
	[email] [nvarchar](100) NULL,
	[soDienThoai] [nvarchar](30) NULL,
	[diaChi] [nvarchar](100) NULL,
 CONSTRAINT [PK_KhachHang] PRIMARY KEY CLUSTERED 
(
	[maKhachHang] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NhanVien]    Script Date: 4/26/2022 9:29:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NhanVien](
	[maNhanVien] [nvarchar](30) NOT NULL,
	[hoTenNhanVien] [nvarchar](100) NULL,
	[gioiTinh] [bit] NULL,
	[ngaySinh] [date] NULL,
	[soDienThoai] [nvarchar](30) NULL,
	[userName] [nvarchar](30) NULL,
 CONSTRAINT [PK_NhanVien] PRIMARY KEY CLUSTERED 
(
	[maNhanVien] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PhuongTien]    Script Date: 4/26/2022 9:29:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PhuongTien](
	[maPhuongTien] [nvarchar](30) NOT NULL,
	[loaiPhuongTien] [nvarchar](30) NULL,
	[bienSoXe] [nvarchar](30) NULL,
	[ghiChu] [nvarchar](100) NULL,
 CONSTRAINT [PK_PhuongTien] PRIMARY KEY CLUSTERED 
(
	[maPhuongTien] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TaiKhoan]    Script Date: 4/26/2022 9:29:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TaiKhoan](
	[userName] [nvarchar](30) NOT NULL,
	[password] [nvarchar](30) NULL,
 CONSTRAINT [PK_TaiKhoan] PRIMARY KEY CLUSTERED 
(
	[userName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tour]    Script Date: 4/26/2022 9:29:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tour](
	[maTour] [nvarchar](30) NOT NULL,
	[tenTour] [nvarchar](100) NULL,
	[diemXuatPhat] [nvarchar](100) NULL,
	[diemDen] [nvarchar](100) NULL,
	[ngayKhoiHanh] [date] NULL,
	[thoiGian] [nvarchar](30) NULL,
	[soLuongKhachHangQuyDinh] [int] NULL,
	[gia] [float] NULL,
	[trangThai] [bit] NULL,
	[moTa] [ntext] NULL,
	[maPhuongTien] [nvarchar](30) NOT NULL,
 CONSTRAINT [PK_Tour] PRIMARY KEY CLUSTERED 
(
	[maTour] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[HoaDon]  WITH CHECK ADD  CONSTRAINT [FK_HoaDon_KhachHang] FOREIGN KEY([maKhachHang])
REFERENCES [dbo].[KhachHang] ([maKhachHang])
GO
ALTER TABLE [dbo].[HoaDon] CHECK CONSTRAINT [FK_HoaDon_KhachHang]
GO
ALTER TABLE [dbo].[HoaDon]  WITH CHECK ADD  CONSTRAINT [FK_HoaDon_NhanVien] FOREIGN KEY([maNhanVien])
REFERENCES [dbo].[NhanVien] ([maNhanVien])
GO
ALTER TABLE [dbo].[HoaDon] CHECK CONSTRAINT [FK_HoaDon_NhanVien]
GO
ALTER TABLE [dbo].[HoaDon]  WITH CHECK ADD  CONSTRAINT [FK_HoaDon_Tour] FOREIGN KEY([maTour])
REFERENCES [dbo].[Tour] ([maTour])
GO
ALTER TABLE [dbo].[HoaDon] CHECK CONSTRAINT [FK_HoaDon_Tour]
GO
ALTER TABLE [dbo].[NhanVien]  WITH CHECK ADD  CONSTRAINT [FK_NhanVien_TaiKhoan] FOREIGN KEY([userName])
REFERENCES [dbo].[TaiKhoan] ([userName])
GO
ALTER TABLE [dbo].[NhanVien] CHECK CONSTRAINT [FK_NhanVien_TaiKhoan]
GO
ALTER TABLE [dbo].[Tour]  WITH CHECK ADD  CONSTRAINT [FK_Tour_PhuongTien] FOREIGN KEY([maPhuongTien])
REFERENCES [dbo].[PhuongTien] ([maPhuongTien])
GO
ALTER TABLE [dbo].[Tour] CHECK CONSTRAINT [FK_Tour_PhuongTien]
GO
USE [master]
GO

SELECT * FROM [dbo].[HoaDon]
SELECT * FROM [dbo].[KhachHang]
SELECT * FROM [dbo].[NhanVien]
SELECT * FROM [dbo].[PhuongTien]
SELECT * FROM [dbo].[TaiKhoan]
SELECT * FROM [dbo].[Tour]

--INSERT TaiKhoan VALUES('NV_04', 123456)
--INSERT NhanVien VALUES('NV_04', N'Minh Thủ', 1, '2002-03-12', 0326497513, 'NV_04') 

--DELETE FROM NhanVien WHERE maNhanVien = 'NV_04'

--DELETE FROM KhachHang WHERE maKhachHang = 'KH_16'

--DELETE FROM HoaDon WHERE maHoaDon = 'HD_16'